[Unit]
Description=monerod container
After=local-fs.target monerod-tor.container
BindsTo=monerod-tor.container

[Container]
ContainerName=monerod
Image=monerod.build
AutoUpdate=local
PublishPort=127.0.0.1:18081:18081
AddHost=monerod-tor:10.1.1.10
AddHost=monerod:10.1.1.20
Network=monerod-tor-internal.network:ip=10.1.1.20
DropCapability=all
NoNewPrivileges=true
PodmanArgs=--cpu-shares=1 --memory=2g --memory-swap=2g
Volume=%h/.local/share/monerod/bitmonero:/bitmonero:z
Exec=--prune-blockchain --rpc-bind-ip 0.0.0.0 --confirm-external-bind --restricted-rpc --proxy 10.1.1.10:9050 --data-dir /bitmonero --non-interactive --no-igd

[Service]
Restart=on-failure
RestartSec=1m
ExecStartPre=mkdir -p %h/.local/share/monerod/bitmonero
ExecStartPre=/bin/sh -c "while true; do /bin/podman healthcheck run monerod-tor && break; sleep 10; done"
TimeoutStartSec=10m

[Install]
WantedBy=default.target